@viewport {
    zoom: 1.0;
    width: device-width;
}

html,
body {
    font-family: "Opens Sans";
    font-size: 23px;
    margin: none;
    padding: none;
    border: none;
}

.divWhite {
    background-color: #f7f7f7;
    padding-bottom: 15px;
}

.divGreen {
    background-color: #83A603;
    padding-bottom: 15px;
}

#divSessaoVideo h1 {
    font-weight: 800;
    font-size: 42px;
    color: #000000;
    text-align: center;
}

#divSessaoVideo p {
    color: rgb(0, 0, 0);
    text-align: center;
}

.botao {
    text-align: center;
    padding: 10px;
}

.btn-danger {
    background-color: #BF0404;
    box-shadow: 0px 0px 10px 4px rgb(255 255 255 / 48%);
}

.btn-danger:hover {
    background-color: #d41010;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}



#divSessaoQuemE h2 {
    padding-top: 15px;
    font-weight: 800;
    font-size: 32px;
    color: white;
}

.ul {
    color: white;
    font-size: 18px;
    margin: 10;
    list-style-type: none;
    padding-left: 0px;
}

.li {
    padding-bottom: 15px;
}

.img {
    width: 350px;
    height: 350px;
    object-fit: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

.imgPayment {
    object-fit: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#divRedesSociais {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

#divRedesSociais h2 {
    font-weight: 800;
    font-size: 32px;
    color: #000000;
    text-align: center;
}

#divRedesSociais strong {
    color: rgb(0, 0, 0);
}

#divMeet h2 {
    font-weight: 800;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
}

#divMeet p {
    color: white;
    font-size: 32px;
    padding-bottom: 5px;
    text-align: center;
}

#divMeet i {
    color: rgb(255, 255, 255);
    text-align: center;
}

#divAoVivo h2 {
    font-weight: 800;
    font-size: 32px;
    color: #000000;
    text-align: center;
}

#divAoVivo p {
    color: rgb(0, 0, 0);
    font-size: 32px;
    padding-bottom: 5px;
    text-align: center;
}

#divAoVivo i {
    color: rgb(0, 0, 0);
    text-align: center;
}

#divCasaSolar h2 {
    padding-top: 15px;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    color: rgb(0, 0, 0);

}

#divCaradapio p,
h3 {
    text-align: center;
    font-size: 23px;
    font-weight: 800;
}


#divCaradapio h2 {
    padding-top: 15px;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    color: rgb(255, 253, 253);
}

#divCaradapio ul {
    color: white;
    font-size: 18px;
    margin: 10;
    list-style-type: none;
    padding-left: 210px;
}

footer {
   
    font-weight: 800;
    font-size: 15px;
}